@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
:root{
--sidebar-flex:1.5;
--condiv-flex:6;
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;
--fontsize-names:5rem;
--fontsize-amp: 3.5rem;
--fontsize-alt: 2rem;
--fontsize-mobile-names:3.5rem;
--fontsize-mobile-amp:2rem;
--fontsize-mobile-alt:1.5rem;
--fontsize-mobile-hashtag:1rem;
--fontsize-mobile-bullets:0.9rem;
}
*
{
margin:0;
padding: 0;
}
body
{
font-family: 'Raleway';
}
.App
{
width: 100vw;
min-height: 100vh;
}
/* .condiv class is for the right side content container*/
.condiv
{
padding: 100px;
/* background-color: #f4f5f9;
opacity: 0.5; */
flex:var(--condiv-flex);
position: relative;
display: inline-block;
}

/* .condivHome class is for the right side content container*/
.condivHome
{
  /* padding: 100px; */
  /* background-image: url(./img/beachpic_uncropped.jpg);
  background-size: cover; */
  /* flex:var(--condiv-flex); */
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.loginBox {
  background:rgba(255, 255, 255, 0.7);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  /* padding-left: 10px;
  padding-right: 10px; */
  /* text-align: center; */
}

.loginTextBox {
  background:rgba(255, 255, 255, 0.7);
  flex-flow: row wrap;
  align-items:center;
  text-align: center;
}

.nameBox
{
  /* display: inline-block; */
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.6);
  padding: 5%;
  text-align: center;
  height: 80vh;
  overflow: auto;
}

.accomBox
{
  /* display: inline-block; */
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.6);
  padding: 5%;
  text-align: center;
}

.loginForm {
 padding-top: 35%;
 padding-left: 3%;
 padding-right:70%
}

.loginButton {
  float: left;
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #4c4eaf;
  border-radius: 10px;
  font-size:var(--fontsize-mobile-bullets);
  padding: 3px;
  margin-left: 10px;
}
.loginButton:hover {
  background-color: #4c4eaf;
  color: white;
}

input {
  border-radius: 10px;
  
  /* rgba(0,0,0,0.5); */
}
.no-outline:focus {
  outline: none;
}

.loginDiv {
  display: inline-block;
  width: 100vw;
  min-height: 100vh;
}

.titleBox
{
  /* display: inline-block; */
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.6);
  padding: 5%;
  text-align: center;
}

.titleDate 
{
  font-size: var(--fontsize-nav);
}

.hashtag 
{
  font-size: var(--fontsize-nav);
}

.marinaText
{
  font-size: var(--fontsize-names);
  font-family: 'Lobster', cursive;
}

.altMarinaText
{
  font-size: var(--fontsize-alt);
  font-family: 'Lobster', cursive;
}

.altCaseyText
{
  font-size: var(--fontsize-alt);
  font-family: 'Comfortaa', cursive;
  color:black;
}

.pageLink
{
  font-family: 'Comfortaa', cursive;
  color:black;
  text-decoration: underline;
  cursor: pointer;
}
.wLink {
  font-family: 'Lobster', cursive;
  color: black;
  cursor: pointer;
}

.addressText {
  font-size: var(--fontsize-mobile-alt);
  font-family: 'Comfortaa', cursive;
}

.caseyText{
  font-size: var(--fontsize-names);
  font-family: 'Comfortaa', cursive;
}

.amp
{
  font-size: var(--fontsize-amp);
}

.MobileNavBar {
  position: absolute;
}

.bulletText
{
  font-size: var(--fontsize-mobile-alt);
  font-family: 'Comfortaa', cursive;
  text-align: left;
}

.MobileNavBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: relative;
  top: 0;
  background: rgba(0,0,0,0.5);
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  opacity: 0.5;
}

.menuNav.showMenu {
  width: 100%;
}

.NavBar
{
padding:60px 30px 0px 30px ;
flex:var(--sidebar-flex);
background: rgba(0,0,0,0.5);
opacity: 0.5;
/* background: linear-gradient(180deg, rgba(204,204,204,1) 10%, rgba(132,124,252,1) 80%); */
}

nav ul
{
  font-size:var(--fontsize-nav);
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li
{
  margin:40px;
}
a
{
    text-decoration: none;
    color: white;
}
.bulletList {
  padding-left: 5%;
}

/* css for active class */
.active
{
font-weight: bolder;
}

.subtopic
{
margin:10px 10px 30px 10px !important;
}
p
{
font-size: var(--fontsize-p);
}
h1,h2,h3,h4,p
{
margin: 10px;
}

.cranPhoto {
  max-width: 100%;
  height: auto;
}

.Button{
  cursor: pointer;
  padding: 8px 24px; 
  color: #ffffff;
  border: none;
  border-radius: 10px; 
  font-family: 'Montserrat';
  height: 100%;

}

.Button:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #FFF 50%, #d8dc1b 90%, #FFF 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  
  animation: waves 1.5s forwards ease-out;
}

@keyframes waves {
  to {
    background-position: 200% center;
  }
}

@media only screen and (max-width: 40em) {
  .NavButton {
    display: block;
  }
  .condivHome {
    position: relative;
  }
  .MobileNavBar {
    position: absolute;
    z-index: 2;
  }
  .condiv {
    position: absolute;
    height: 500px;
    z-index: 1;
  }
  .nameBox {
    height: inherit;
    overflow: auto;
    width: 120%;
  }
    .accomBox {
    height: inherit;
    overflow: auto;
  }
  .marinaText {
    font-size: var(--fontsize-mobile-names);
  }
  .caseyText {
    font-size: var(--fontsize-mobile-names);
  }
  .amp {
    font-size: var(--fontsize-mobile-amp);
  }
  .titleDate 
{
  font-size: var(--fontsize-mobile-alt);
}
.hashtag 
{
  font-size: var(--fontsize-mobile-hashtag);
}
  .altCaseyText {
    font-size: var(--fontsize-mobile-alt);
  }
  .addressText {
    font-size: var(--fontsize-mobile-hashtag);
  }
  .bulletText {
    font-size: var(--fontsize-mobile-bullets)
  }
  .loginForm {
    position: absolute;
    padding-top: 50%;
    padding-left: 10%;
    padding-right: 0%;
  }
  .loginBox {
    background: rgba(255,255,255,0.7);
    display: auto;
    flex-flow: auto;
    align-items: auto;
    justify-content: auto;
  }
  .loginTextBox {
    background: rgba(255,255,255,0.7);
    flex-flow: auto;
    align-items: auto;
    justify-content: auto;
  }
}